<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Refund Calculator</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('calculate')}}"method="post" id='myform'>
		<label>Policy ID</label>
			<input type="text" name="policy_id"  required="required" />
		
		<label>Original Premium</label>
			<input type="number" name="premium"  required="required" />
    	
    	<label>Policy Issue Date</label>
			<input type="date" name="issue_date" required="required" />
        
        <label>Trip Start Date</label>
			<input type="date" name="start_date" required="required" />
		
		<label>Policy End Date</label>
			<input type="date" name="end_date" required="required" />
		
		<label>Request Date</label>
			<input type="date" name="request_date" required="required" />
		
		<label>Product Group Finance</label>
			<select name="prd_grp_fin" id="prd_grp_fin" required="required">
					<option selected>E-comm</option>
					<option>Ticket</option>
					<option>Corporate</option>
					<option>Cancellation</option>
					<option>Trad & Other</option>
			</select>
			
        <button type="submit" class="btn btn-primary btn-block btn-large">Calculate</button>
    </form>

   <br>
   <br>
   {{ refund_amount }}

 </div>


</body>
</html>
